
body {
    /* Add flex to the body in order to section up the content */
    display: flex;
    flex-direction: column;
    /* Make the whole page color a light black */
    background-color: rgba(0, 0, 0, 0.801);
    align-items: center;
    /* min-height: 100vh;
    flex-wrap: wrap; */
}


.header{
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;  

}
a:visited, a {
    text-decoration: none;
    color: white;
}

ul{
    display: flex;
    list-style: none;
    gap: 10px;
    font-size: small;
}

.header-signup{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px ;
    padding-bottom: 20px;
}

button{
    background-color: rgb(0, 132, 255);
    border-radius: 6px;
    border: 0;
    color: white;
    font-size: 12px;
    padding: 4px 14px 4px 14px
}

.left-side{
    width: 300px;
}

.hacker{
    width: 350px;
    height: auto;
}

.Header-Section{
    background-color: rgba(0, 39, 52, 0.935);
    display: flex;
    color: white;
    flex-direction: column;
    /* min-height: 50%; */

    
}

.Picture-Section{
    background-color: white;
    display: flex;
    /* min-height: 50%; */
}

.Quote-Section{
    background-color: rgba(251, 251, 251, 0.906);
    display: flex;
    /* min-height: 50%; */
}

.Footer-Section{
    background-color: white;
    display: flex;
}




