
body {
    /* Add flex to the body in order to section up the content */
    display: flex;
    flex-direction: column;
    /* Make the whole page color a light black */
    background-color: rgba(0, 0, 0, 0.801);
    align-items: center;
    
}

.Header-Section{
    background-color: rgba(0, 39, 52, 0.935);
    display: flex;
    color: white;
}

.Picture-Section{
    background-color: white;
    display: flex;
}

.Quote-Section{
    background-color: antiquewhite;
    display: flex;
}

.Footer-Section{
    background-color: white;
    display: flex;
}




